{% extends 'base.html.twig' %}

{% block content %}
    <div class="content-courses">
        <div class="wrapper-content-course">
            <div class="slide_show">
                <div class="wrapper_content_slide_course">
                    <ul class="bxslider1">
                        <li><img src="{{ asset('sboza2/img/course/course-motion-graphic/img1.png') }}" /></li>
                        <li><img src="{{ asset('sboza2/img/course/course-motion-graphic/img4.png') }}" /></li>
                    </ul>
                </div>
                <div class="wrapper_content_slide_course">
                    <ul class="bxslider2">
                        <li><img src="{{ asset('sboza2/img/course/course-motion-graphic/img2.png') }}" /></li>
                        <li><img src="{{ asset('sboza2/img/course/course-motion-graphic/img3.png') }}" /></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header_content_courser">
            <div class="wrapper-content-course">
                <p class="small">
                    curso acad&eacute;mico de DOS a&ntilde;oS
                </p>
                <div class="first_column">
                    <p>
                        CURSO DE
                    </p>
                    <p class="green">
                        MOTION GRAPHICS
                    </p>
                </div>
                <div class="second_column">
                    <p class="title">
                        doble titulaci&oacute;n
                    </p>
                    <p class="green">
                        MOTION GRAPHICS<br><span>(PROPIO. EXPEDIDO POR SBOZA2)</span>
                    </p>
                    <p class="green">
                        DESARROLLO DE PRODUCTOS AUDIOVISUALES MULTIMEDIA INTERACTIVOS<br> <span>(OFICIAL Y EN PROCESO DE HOMOLOGACI&Oacute;N)</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="body_content_courser">
            <div class="wrapper-content-course">
                <div class="content-text">
                    <p class="title">
                        ¿ PARA QUE TE PREPARA SBOZA2 ?
                    </p>
                    <p class="text">
                        En sboza2 nuestro objetivo es aportar al alumno la evoluci&oacute;n profesional necesaria para realizar un proyecto de Motion Graphics en todas sus fases, desde como vender una idea con el elevado componente art&iacute;stico involucrado, hasta la realizaci&oacute;n de efectos visuales impactantes.
                        <br><br>
                        La propuesta del curso se basa en potenciar la creatividad del alumno y darle los recursos para desarrollar un pensamiento creativo y profesional, dot&aacute;ndolo de todos los conocimiento t&eacute;cnicos para realizar proyectos profesionales de Motion Graphics.
                        <br><br>
                        A lo largo del curso el alumno afrontara la realizaci&oacute;n de diversas propuestas con diferente estilos gr&aacute;ficos, visuales y narrativos, lo que le permite disponer de distintas piezas para su bobina personal, herramienta imprescindible para saltar al mercado laboral con una experiencia demostrable.
                    </p>
                </div>
                <img src="{{ asset('sboza2/img/course/btn-download-01.png') }}">
            </div>
        </div>
        <div class="footer_content_courser">
            <div class="wrapper-content-course">
                <div class="content-text">
                    <div class="icon">
                        <img src ="{{ asset('sboza2/img/course/course-motion-graphic/icon-course.svg') }}"/>
                    </div>
                    <p class="title">
                        DATOS DE INTER&Eacute;S
                    </p>
                    <p class="text">
                        <strong>Duraci&oacute;n del curso:</strong> Dos a&ntilde;os, plazas limitadas<br>
                        <strong>Curso acad&eacute;mico:</strong> De octubre a julio<br>
                        <strong>Diplomatura:</strong> Doble Titulaci&oacute;n, Privada Y Oficial*<br><br>

                        <strong>Curso totalmente pr&aacute;ctico.<br>
                            2 d&iacute;as a la semana, 3 horas diarias.<br>
                            240 horas lectivas anuales.<br>
                            M&aacute;s de 150 horas de pr&aacute;cticas libres.</strong><br>
                        (Las horas de practicas libres corresponden al uso de las instalaciones, que el alumno podr&aacute; utilizar con total libertad sin ning&uacute;n tipo de coste adicional para la realizaci&oacute;n de sus proyectos)<br><br>

                        <strong>Grupos de tardes.<br>
                            Todo el material que el alumno precisa para la realizaci&oacute;n del curso corre por cuenta de la escuela.</strong><br><br>

                        * Ense&ntilde;anzas sujetas al certificado de profesionalidad<br>
                        DESARROLLO DE PRODUCTOS MULTIMEDIA INTERACTIVOS<br>
                        (R.D. 1200 / 2007, de 14 de Septiembre)<br>
                    </p>
                </div>

            </div>
        </div>
        {% include ':desktop:_contactHome.html.twig' with { 'form' : form } %}
    </div>
{% endblock %}