{% extends 'base.html.twig' %}

{% block content %}
    <div class="content-courses">
        <div class="wrapper-content-course">
            <div class="slide_show">
                <div class="wrapper_content_slide_course">
                    <ul class="bxslider1">
                        <li><img src="{{ asset('sboza2/img/course/fx/img1.png') }}" /></li>
                        <li><img src="{{ asset('sboza2/img/course/fx/img3.png') }}" /></li>
                    </ul>
                </div>
                <div class="wrapper_content_slide_course">
                    <ul class="bxslider2">
                        <li><img src="{{ asset('sboza2/img/course/fx/img2.png') }}" /></li>
                        <li><img src="{{ asset('sboza2/img/course/fx/img4.png') }}" /></li>
                    </ul>
                </div>
            </div>
            <div class="slide_show_one_column">
                <div class="wrapper_content_slide_course">
                    <ul class="bxslider1">
                        <li><img src="{{ asset('sboza2/img/course/fx/img1.png') }}" /></li>
                        <li><img src="{{ asset('sboza2/img/course/fx/img3.png') }}" /></li>
                        <li><img src="{{ asset('sboza2/img/course/fx/img2.png') }}" /></li>
                        <li><img src="{{ asset('sboza2/img/course/fx/img4.png') }}" /></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header_content_courser">
            <div class="wrapper-content-course">
                <p class="small">
                    curso acad&eacute;mico de un a&ntilde;o
                </p>
                <div class="first_column">
                    <p>
                        curso de
                    </p>
                    <p class="pink">
                        Caracterización y<br>
                        Fx
                    </p>
                </div>
            </div>
        </div>
        <div class="body_content_courser">
            <div class="wrapper-content-course">
                <div class="content-text">
                    <p class="title">
                        &iquest; PARA QUE TE PREPARA SBOZA2 ?
                    </p>
                    <p class="text">
                        Nuestro curso de caracterización y fx está pensado para convertirte en un profesional de la caracterización con grandes conocimientos de efectos especiales.
                        <br><br>
                        Sacaremos el mayor rendimiento de cada tipo de maquillaje, así aprenderás a definir y crear un personaje de principio a fin, fabricando elementos técnicos mediante modelado y maquillaje, cambiando temporalmente la forma del cabello con o sin postizos o pelucas y pudiendo ejercer la profesión en cine, teatro, televisión y publicidad.
                    </p>
                </div>
                <a href="{{ asset('sboza2/docs/12-CURSO-DE-CARACTERIZACION-Y-FX-SBOZA2.pdf') }}" target="_blank"><img src="{{ asset('sboza2/img/course/btn-download-02.png') }}"></a>
            </div>
        </div>
        <div class="footer_content_courser">
            <div class="wrapper-content-course">
                <div class="content-text">
                    <div class="icon">
                        <img src ="{{ asset('sboza2/img/course/fx/icon-course.svg') }}"/>
                    </div>
                    <p class="title">
                        DATOS DE INTER&Eacute;S
                    </p>
                    <p class="text">
                        <strong>Duraci&oacute;n del curso:</strong> Un a&ntilde;o, plazas limitadas<br>
                        <strong>Curso acad&eacute;mico:</strong> De octubre a julio<br>
                        <strong>Diplomatura:</strong> Privada<br>
                        <strong>Titulaci&oacute;n:</strong> Curso de Caracterización y FX<br><br>

                        <strong>Curso totalmente pr&aacute;ctico.<br>
                        3 d&iacute;as a la semana, 3 horas diarias.<br>
                        360 horas lectivas.<br>
                        M&aacute;s de 200 horas de pr&aacute;cticas libres.</strong><br>
                        (Las horas de practicas libres corresponden al uso de las instalaciones, que el alumno podr&aacute; utilizar con total libertad sin ning&uacute;n tipo de coste adicional para la realizaci&oacute;n de sus proyectos)<br><br>

                        <strong>Grupos de tardes.<br>
                        Todo el material que el alumno precisa para la realizaci&oacute;n del curso corre por cuenta de la escuela.</strong><br><br>
                    </p>
                </div>

            </div>
        </div>
        {% include ':desktop:_contactHome.html.twig' with { 'form' : form, "course" : 1} %}
    </div>
{% endblock %}