{% extends 'base.html.twig' %}

{% block content %}
    <div class="content-courses">
        <div class="wrapper-content-course">
            <div class="slide_show">
                <div class="wrapper_content_slide_course">
                    <ul class="bxslider1">
                        <li><img src="{{ asset('sboza2/img/course/course-graphic-design-and-web/img1.png') }}" alt="Curso de diseño gráfico y web" title="Curso de diseño gráfico y web" /></li>
                        <li><img src="{{ asset('sboza2/img/course/course-graphic-design-and-web/img3.png') }}" alt="Curso de diseño gráfico y web" title="Curso de diseño gráfico y web"/></li>
                    </ul>
                </div>
                <div class="wrapper_content_slide_course">
                    <ul class="bxslider2">
                        <li><img src="{{ asset('sboza2/img/course/course-graphic-design-and-web/img2.png') }}" alt="Curso de diseño gráfico y web" title="Curso de diseño gráfico y web"/></li>
                        <li><img src="{{ asset('sboza2/img/course/course-graphic-design-and-web/img4.png') }}" alt="Curso de diseño gráfico y web" title="Curso de diseño gráfico y web"/></li>
                    </ul>
                </div>
            </div>
            <div class="slide_show_one_column">
                <div class="wrapper_content_slide_course">
                    <ul class="bxslider1">
                        <li><img src="{{ asset('sboza2/img/course/course-graphic-design-and-web/img1.png') }}" alt="Curso de diseño gráfico y web" title="Curso de diseño gráfico y web"/></li>
                        <li><img src="{{ asset('sboza2/img/course/course-graphic-design-and-web/img3.png') }}" alt="Curso de diseño gráfico y web" title="Curso de diseño gráfico y web"/></li>
                        <li><img src="{{ asset('sboza2/img/course/course-graphic-design-and-web/img2.png') }}" alt="Curso de diseño gráfico y web" title="Curso de diseño gráfico y web"/></li>
                        <li><img src="{{ asset('sboza2/img/course/course-graphic-design-and-web/img4.png') }}" alt="Curso de diseño gráfico y web" title="Curso de diseño gráfico y web"/></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header_content_courser">
            <div class="wrapper-content-course">
                <p class="small">
                    curso acad&eacute;mico de un a&ntilde;o
                </p>
                <div class="one_column">
                    <p>
                        curso de
                    </p>
                    <p class="pink">
                        DISE&Ntilde;O<br>
                        GR&Aacute;FICO Y WEB
                    </p>
                </div>
            </div>
        </div>
        <div class="body_content_courser">
            <div class="wrapper-content-course">
                <div class="content-text">
                    <p class="title">
                        &iquest; PARA QUE TE PREPARA SBOZA2 ?
                    </p>
                    <p class="text">
                        Lejos quedaron los tiempos en que el dise&ntilde;ador gr&aacute;fico se encargaba unicamente de la maquetaci&oacute;n de folletos y revistas. Nuestra finalidad en Sboza2 es que el alumno sea capaz de realizar proyectos profesionales concretos, orientados a la impresi&oacute;n gr&aacute;fica y al formato digital, esto requiere por parte del alumno un aprendizaje y un desafi&oacute; constante.
                        <br><br>
                        Durante el curso los alumnos contaran con profesionales que les orientaran sobre las tendencias actuales y les ense&ntilde;aran los programas mas demandados del panorama laboral, de este modo estar&aacute;n totalmente preparados para diferentes puesto de trabajo dentro de la rama del dise&ntilde;o gr&aacute;fico.
                    </p>
                </div>
                <a href="{{ asset('sboza2/docs/01-CURSO-DISENIO-GRAFICO-Y-WEB-SBOZA2.pdf') }}" target="_blank"> <img src="{{ asset('sboza2/img/course/btn-download-02.png') }}" alt="Curso de diseño gráfico y web" title="Curso de diseño gráfico y web"></a>
            </div>
        </div>
        <div class="footer_content_courser">
            <div class="wrapper-content-course">
                <div class="content-text">
                    <div class="icon">
                        <img src ="{{ asset('sboza2/img/course/course-graphic-design-and-web/icon-course.svg') }}" alt="Curso de diseño gráfico y web" title="Curso de diseño gráfico y web"/>
                    </div>
                    <p class="title">
                        DATOS DE INTER&Eacute;S
                    </p>
                    <p class="text">
                        <strong>Duraci&oacute;n del curso:</strong> Un a&ntilde;o, plazas limitadas<br>
                        <strong>Curso acad&eacute;mico:</strong> De octubre a julio<br>
                        <strong>Diplomatura:</strong> Privada<br>
                        <strong>Titulaci&oacute;n:</strong> Dise&ntilde;o Gr&aacute;fico y Dise&ntilde;o Web
                        <br><br>

                        <strong>Curso totalmente pr&aacute;ctico.<br>
                        4 d&iacute;as a la semana, 3 horas diarias.<br>
                        480 horas lectivas anuales.<br>
                        M&aacute;s de 300 horas de pr&aacute;cticas libres.</strong><br>
                        (Las horas de practicas libres corresponden al uso de las instalaciones, que el alumno podr&aacute; utilizar con total libertad sin ning&uacute;n tipo de coste adicional para la realizaci&oacute;n de sus proyectos)<br><br>

                        <strong>Grupos de ma&ntilde;ana y tarde.<br>
                        Todo el material que el alumno precisa para la realizaci&oacute;n del curso corre por cuenta de la escuela.</strong><br><br>
                    </p>
                </div>

            </div>
        </div>
        {% include ':desktop:_contactHome.html.twig' with { 'form' : form, "course" : 1 } %}
    </div>
{% endblock %}