{% extends 'base.html.twig' %}

{% block content %}
    <div class="content-courses">
        <div class="wrapper-content-course">
            <div class="slide_show">
                <div class="wrapper_content_slide_course">
                    <ul class="bxslider1">
                        <li><img src="{{ asset('sboza2/img/course/superior-graphic-design/img1.png') }}" alt="Curso superior de diseño gráfico" title="Curso superior de diseño gráfico" /></li>
                        <li><img src="{{ asset('sboza2/img/course/superior-graphic-design/img4.png') }}" alt="Curso superior de diseño gráfico" title="Curso superior de diseño gráfico"/></li>
                    </ul>
                </div>
                <div class="wrapper_content_slide_course">
                    <ul class="bxslider2">
                        <li><img src="{{ asset('sboza2/img/course/superior-graphic-design/img2.png') }}" alt="Curso superior de diseño gráfico" title="Curso superior de diseño gráfico"/></li>
                        <li><img src="{{ asset('sboza2/img/course/superior-graphic-design/img3.png') }}" alt="Curso superior de diseño gráfico" title="Curso superior de diseño gráfico"/></li>
                    </ul>
                </div>
            </div>
            <div class="slide_show_one_column">
                <div class="wrapper_content_slide_course">
                    <ul class="bxslider1">
                        <li><img src="{{ asset('sboza2/img/course/superior-graphic-design/img1.png') }}" alt="Curso superior de diseño gráfico" title="Curso superior de diseño gráfico"/></li>
                        <li><img src="{{ asset('sboza2/img/course/superior-graphic-design/img2.png') }}" alt="Curso superior de diseño gráfico" title="Curso superior de diseño gráfico"/></li>
                        <li><img src="{{ asset('sboza2/img/course/superior-graphic-design/img3.png') }}" alt="Curso superior de diseño gráfico" title="Curso superior de diseño gráfico"/></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header_content_courser">
            <div class="wrapper-content-course">
                <p class="small">
                    curso acad&eacute;mico de DOS a&ntilde;oS
                </p>
                <div class="first_column">
                    <p>
                        curso<br>
                        superior de
                    </p>
                    <p class="green">
                        DISE&Ntilde;O GR&Aacute;FICO
                    </p>
                </div>
                <div class="second_column">
                    <p class="title">
                        doble titulaci&oacute;n
                    </p>
                    <p class="green">
                        DISE&Ntilde;O GR&Aacute;FICO<br><span>(PROPIO. EXPEDIDO POR SBOZA2)</span>
                    </p>
                    <p class="green">
                        DISE&Ntilde;O DE PRODUCTOS GR&Aacute;FICOS<br> <span>(OFICIAL Y EN PROCESO DE HOMOLOGACI&Oacute;N)</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="body_content_courser">
            <div class="wrapper-content-course">
                <div class="content-text">
                    <p class="title">
                        &iquest; PARA QUE TE PREPARA SBOZA2 ?
                    </p>
                    <p class="text">
                        En Sboza2 aprender&aacute;s a dominar el lenguaje de la comunicaci&oacute;n gr&aacute;fica, de forma creativa, aplic&aacute;ndolo en la ejecuci&oacute;n de proyectos que van desde la identidad corporativa a la maquetaci&oacute;n editorial, creaci&oacute;n de contenido para campa&ntilde;as publicitarias o dise&ntilde;os web.
                        <br><br>
                        Conforme avance el curso aprender&aacute;s a tratar tus proyectos de forma eficaz buscando recursos creativos y competitivos que den respuesta a las necesidades planteadas.
                        <br><br>
                        Una vez finalizado el curso los conocimientos aprendidos te convertir&aacute;n en un profesional todoterreno capaz de dar soluciones a los proyectos planteados, llegando a estar totalmente capacitado para liderar un equipo creativo.
                    </p>
                </div>
                <a href="{{ asset('sboza2/docs/03-CURSO-SUPERIOR-DE-DISEÑO-GRAFICO SBOZA2.pdf') }}" target="_blank"> <img src="{{ asset('sboza2/img/course/btn-download-01.png') }}" alt="Curso superior de diseño gráfico" title="Curso superior de diseño gráfico"></a>
            </div>
        </div>
        <div class="footer_content_courser">
            <div class="wrapper-content-course">
                <div class="content-text">
                    <div class="icon">
                        <img src ="{{ asset('sboza2/img/course/superior-graphic-design/icon-course.svg') }}" alt="Curso superior de diseño gráfico" title="Curso superior de diseño gráfico"/>
                    </div>
                    <p class="title">
                        DATOS DE INTER&Eacute;S
                    </p>
                    <p class="text">
                        <strong>Duraci&oacute;n del curso:</strong> Dos a&ntilde;os, plazas limitadas<br>
                        <strong>Curso acad&eacute;mico:</strong> De octubre a julio<br>
                        <strong>Diplomatura:</strong> Doble Titulaci&oacute;n, Privada Y Oficial*<br><br>

                        <strong>Curso totalmente pr&aacute;ctico.<br>
                        3 d&iacute;as a la semana, 3 horas diarias.<br>
                        360 horas lectivas anuales.<br>
                        M&aacute;s de 200 horas de pr&aacute;cticas libres.</strong><br>
                        (Las horas de practicas libres corresponden al uso de las instalaciones, que el alumno podr&aacute; utilizar con total libertad sin ning&uacute;n tipo de coste adicional para la realizaci&oacute;n de sus proyectos)<br><br>

                        <strong>Grupos de ma&ntilde;ana y tarde.<br>
                        Todo el material que el alumno precisa para la realizaci&oacute;n del curso corre por cuenta de la escuela.</strong><br><br>

                        * Ense&ntilde;anzas sujetas al certificado de profesionalidad<br>
                        DISE&Ntilde;O DE PRODUCTOS GR&Aacute;FICOS<br>
                        (R.D. 1228 / 2006, de 27 de Octubre)<br>
                    </p>
                </div>

            </div>
        </div>
        {% include ':desktop:_contactHome.html.twig' with { 'form' : form, "course" : 1 } %}
    </div>
{% endblock %}