<header>
    <div class="header-top">
        <div class="wrapper-content">
            <div class="info-header">
                <a class="link-email" href="mailto:info@sboza2.com">info@sboza2.com</a>
                <span>
                    <img src="{{ assets('sboza2/img/icons/') }}" <i class="fa fa-whatsapp" aria-hidden="true"></i> pidenos más informacion <a href="tel:+34654468158"><span class="phone">654 468 158</span></a>
                </span>
            </div>
            <div class="social-header">
                <span class="date">{{ "now" | date('l, j - F - Y')|replace({
                                'January'  : 'Enero',
                                'Febrary'  : 'Febrero',
                                'March'    : 'Marzo',
                                'April'    : 'Abril',
                                'May'      : 'Mayo',
                                'June'     : 'Junio',
                                'July'     : 'Julio',
                                'August'   : 'Agosto',
                                'September': 'Septiembre',
                                'Octover'  : 'Octubre',
                                'November' : 'Noviembre',
                                'December' : 'Diciembre',
                                'Monday'   : 'Lunes',
                                'Tuesday'  : 'Martes',
                                'Wednesday': 'Miercoles',
                                'Thursday' : 'Jueves',
                                'Friday'   : 'Viernes',
                                'Saturday' : 'Sabado',
                                'Sunday'   : 'Domingo'
                                })}}</span>
                <a href="#">campus</a>
                <div class="social-networks">
                    <img src="{{ asset('sboza2/img/social-networks/facebook.png') }}" alt="Facebook" title="Facebook">
                    <img src="{{ asset('sboza2/img/social-networks/twitter.png') }}" alt="Facebook" title="Facebook">
                    <img src="{{ asset('sboza2/img/social-networks/link.png') }}" alt="Facebook" title="Facebook">
                    <img src="{{ asset('sboza2/img/social-networks/instagram.png') }}" alt="Facebook" title="Facebook">
                    <img src="{{ asset('sboza2/img/social-networks/be.png') }}" alt="Facebook" title="Facebook">
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="wrapper-content">
            <div class="logo">
                <img src="{{ asset('sboza2/img/logo.png') }}">
            </div>
        </div>
    </div>
</header>
