<header>
    <div class="header-top">
        <div class="wrapper-content">
            <div class="info-header">
                <a class="link-email" href="mailto:info@sboza2.com">info@sboza2.com</a>
                <span>
                    <img src="{{ asset('sboza2/img/icons/Icono-2-05.png') }}"><img src="{{ asset('sboza2/img/icons/Icono 2-04.svg') }}"> pidenos más informacion <a href="tel:+34669970256"><span class="phone">669 970 256</span></a>
                </span>
            </div>
            <div class="social-header">
                <span class="date">{{ "now" | date('l, j - F - Y')|replace({
                                'January'  : 'Enero',
                                'Febrary'  : 'Febrero',
                                'March'    : 'Marzo',
                                'April'    : 'Abril',
                                'May'      : 'Mayo',
                                'June'     : 'Junio',
                                'July'     : 'Julio',
                                'August'   : 'Agosto',
                                'September': 'Septiembre',
                                'Octover'  : 'Octubre',
                                'November' : 'Noviembre',
                                'December' : 'Diciembre',
                                'Monday'   : 'Lunes',
                                'Tuesday'  : 'Martes',
                                'Wednesday': 'Miercoles',
                                'Thursday' : 'Jueves',
                                'Friday'   : 'Viernes',
                                'Saturday' : 'Sabado',
                                'Sunday'   : 'Domingo'
                                })}}</span>
                <a class="campus-header" href="#">campus</a>
                <div class="social-networks">
                    <a href="https://es-la.facebook.com/sboza2/" target="_blank" rel="nofollow"><img src="{{ asset('sboza2/img/social-networks/facebook.png') }}" alt="Facebook" title="Facebook"></a>
                    <a href="https://twitter.com/sboza2" target="_blank" rel="nofollow"><img src="{{ asset('sboza2/img/social-networks/twitter.png') }}" alt="Twitter" title="Twitter"></a>
                    <a href="https://www.linkedin.com/company/sboza2" target="_blank" rel="nofollow"> <img src="{{ asset('sboza2/img/social-networks/link.png') }}" alt="Linkedin" title="Linkedin"></a>
                    <a href="https://www.instagram.com/sboza2/" target="_blank" rel="nofollow"><img src="{{ asset('sboza2/img/social-networks/instagram.png') }}" alt="Instagram" title="Instagram">
                    <img src="{{ asset('sboza2/img/social-networks/be.png') }}" alt="Be" title="Be">
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="wrapper-content">
            <div class="logo">
                <a href="{{ path('homepage') }}" ><img src="{{ asset('sboza2/img/logo.svg') }}"></a>
            </div>
        </div>
    </div>
</header>
