<a name="nuestro-centro"></a>
<div class="our_center">
    <div id="text">
        <h2>{{ 'frontend.title.our_center'|trans|raw }}</h2>
        <h3>
            {{ 'frontend.text.our_center_subtitle'|trans|raw }}
        </h3>
        <p id="first-paragraph">
            <strong>{{ 'frontend.text.our_center_paragraph_1'|trans|raw }}</strong>
        </p>
        <p id="second-paragraph">
            {{ 'frontend.text.our_center_paragraph_2'|trans|raw }}
        </p>
    </div>
    <div id="list">
        <h3>{{ 'frontend.text.subtitle_list'|trans|raw }}</h3>
        <ul>
            <li>
                {{ 'frontend.text.element_list1'|trans|raw }}
            </li>
            <li>
                {{ 'frontend.text.element_list2'|trans|raw }}
            </li>
            <li>
                {{ 'frontend.text.element_list3'|trans|raw }}
            </li>
            <li>
                {{ 'frontend.text.element_list4'|trans|raw }}
            </li>
            <li>
                {{ 'frontend.text.element_list5'|trans|raw }}
            </li>
            <li>
                {{ 'frontend.text.element_list6'|trans|raw }}
            </li>
            <li>
                {{ 'frontend.text.element_list7'|trans|raw }}
            </li>
            <li>
                {{ 'frontend.text.element_list8'|trans|raw }}
            </li>
            <li>
                {{ 'frontend.text.element_list9'|trans|raw }}
            </li>
            <li>
                {{ 'frontend.text.element_list10'|trans|raw }}
            </li>
            <li>
                {{ 'frontend.text.element_list11'|trans|raw }}
            </li>
            <li>
                {{ 'frontend.text.element_list12'|trans|raw }}
            </li>
            <li>
                {{ 'frontend.text.element_list13'|trans|raw }}
            </li>
        </ul>
    </div>
</div>