<a name="nuestros-cursos"></a>
<div class="our_cursos">
    <h3  class="title-section">{{ 'frontend.title.our_curses'|trans|raw }}</h3>
    <div class="block-cursos">
        <div class="element-pink">
            <div class="head-course">
                <img src="{{ asset('sboza2/img/icons/curso1.svg') }}" title="Cursos sboza2" alt="{{ 'frontend.text.formacion_oficial'|trans|raw }}">
                <p class="text">{{ 'frontend.text.formacion_oficial'|trans|raw }}</p>
                <p class="text-point">...</p>
            </div>
            <ul>
                <li><p>{{ 'frontend.text.element_list_formacion_oficial_1'|trans|raw }}</p></li>
                <li><p>{{ 'frontend.text.element_list_formacion_oficial_2'|trans|raw }}</p></li>
                <li><p>{{ 'frontend.text.element_list_formacion_oficial_3'|trans|raw }}</p></li>
                <li><p>{{ 'frontend.text.element_list_formacion_oficial_4'|trans|raw }}</p></li>
            </ul>
        </div>
        <div id="spacing"></div>
        <div class="element-green">
            <div class="head-course">
                <img src="{{ asset('sboza2/img/icons/curso2.svg') }}" title="Cursos sboza2" alt="{{ 'frontend.text.master_profesionales'|trans|raw }}">
                <p class="text">{{ 'frontend.text.master_profesionales'|trans|raw }}</p>
                <p class="text-point">...</p>
            </div>
            <ul>
                <li>{{ 'frontend.text.element_list_master_profesionales_1'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_master_profesionales_2'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_master_profesionales_3'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_master_profesionales_4'|trans|raw }}</li>
            </ul>
        </div>
        <div id="spacing-block"></div>
        <div class="element-pink">
            <div class="head-course">
                <img src="{{ asset('sboza2/img/icons/curso3.svg') }}" title="Cursos sboza2" alt="{{ 'frontend.text.curso_intensivo'|trans|raw }}">
                <p class="text">{{ 'frontend.text.curso_intensivo'|trans|raw }}</p>
                <p class="text-point">...</p>
            </div>
            <ul>
                <li>{{ 'frontend.text.element_list_curso_intensivo_1'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_curso_intensivo_2'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_curso_intensivo_3'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_curso_intensivo_4'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_curso_intensivo_5'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_curso_intensivo_6'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_curso_intensivo_7'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_curso_intensivo_8'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_curso_intensivo_9'|trans|raw }}</li>
            </ul>
        </div>
        <div id="spacing"></div>
        <div class="element-green">
            <div class="head-course">
                <img src="{{ asset('sboza2/img/icons/curso4.svg') }}" title="Cursos sboza2" alt="{{ 'frontend.text.titulacion_privada'|trans|raw }}">
                <p class="text">{{ 'frontend.text.titulacion_privada'|trans|raw }}</p>
                <p class="text-point">...</p>
            </div>
            <ul>
                <li>{{ 'frontend.text.element_list_titulacion_privada_1'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_titulacion_privada_2'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_titulacion_privada_3'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_titulacion_privada_4'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_titulacion_privada_5'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_titulacion_privada_6'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_titulacion_privada_7'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_titulacion_privada_8'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_titulacion_privada_9'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_titulacion_privada_10'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_titulacion_privada_11'|trans|raw }}</li>
                <li>{{ 'frontend.text.element_list_titulacion_privada_12'|trans|raw }}</li>
            </ul>
        </div>
    </div>
</div>