<div class="slide_show">
    <div class="wrapper-content-slide">
        <ul class="bxslider">
            <li><img src="{{ asset('sboza2/img/slide-show/Banner-1.png') }}" /></li>
            <li><img src="{{ asset('sboza2/img/slide-show/Banner-2.png') }}" /></li>
            <li><img src="{{ asset('sboza2/img/slide-show/Banner-3.png') }}" /></li>
            <li><img src="{{ asset('sboza2/img/slide-show/Banner-4.png') }}" /></li>
            <li><img src="{{ asset('sboza2/img/slide-show/Banner-5.png') }}" /></li>
            <li><img src="{{ asset('sboza2/img/slide-show/Banner-6.png') }}" /></li>
            <li><img src="{{ asset('sboza2/img/slide-show/Banner-7.png') }}" /></li>
            <li><img src="{{ asset('sboza2/img/slide-show/Banner-8.png') }}" /></li>
        </ul>
    </div>
</div>