<div class="social-networks">
    <a class="text-contact-now" href="tel:+34669970256">Contacta ahora</a>
    <a href="https://es-la.facebook.com/sboza2/" target="_blank" rel="nofollow"><img src="{{ asset('sboza2/img/social-networks/facebook.png') }}" alt="Facebook" title="Facebook"></a>
    <a href="https://twitter.com/sboza2" target="_blank" rel="nofollow"><img src="{{ asset('sboza2/img/social-networks/twitter.png') }}" alt="Twitter" title="Twitter"></a>
    <a href="https://www.linkedin.com/company/sboza2" target="_blank" rel="nofollow"> <img src="{{ asset('sboza2/img/social-networks/link.png') }}" alt="Linkedin" title="Linkedin"></a>
    <a href="https://www.instagram.com/sboza2/" target="_blank" rel="nofollow"><img src="{{ asset('sboza2/img/social-networks/instagram.png') }}" alt="Instagram" title="Instagram"></a>
    <a href="https://www.behance.net/" target="_blank" rel="nofollow"><img src="{{ asset('sboza2/img/social-networks/be.png') }}" alt="Be" title="Be"></a>
</div>