<a name="nuestros-equipo"></a>
<div class="team">
    <h3 class="title-section">Nuestro equipo</h3>
    <div class="team-detail">
        <p class="title-team">Direccion y coordinación</p>
        <div class="team-person">
            <img src="{{ asset('sboza2/img/team.jpg') }}">
            <p>dafsdfdsaasdasdf</p>
            <p>Direccion</p>
        </div>
        <div class="team-person">
            <img src="{{ asset('sboza2/img/team.jpg') }}">
            <p>dafsdfdsaasdasdf</p>
            <p>Coordinacion</p>
        </div>
    </div>
    <div class="team-detail">
        <p class="title-team">Profesorado</p>
        <div class="team-person">
            <img src="{{ asset('sboza2/img/team.jpg') }}">
            <p>dafsdfdsaasdasdf</p>
            <p>Direccion</p>
        </div>
        <div class="team-person">
            <img src="{{ asset('sboza2/img/team.jpg') }}">
            <p>dafsdfdsaasdasdf</p>
            <p>Coordinacion</p>
        </div>
        <div class="team-person">
            <img src="{{ asset('sboza2/img/team.jpg') }}">
            <p>dafsdfdsaasdasdf</p>
            <p>Coordinacion</p>
        </div>
        <div class="team-person">
            <img src="{{ asset('sboza2/img/team.jpg') }}">
            <p>dafsdfdsaasdasdf</p>
            <p>Coordinacion</p>
        </div>
        <div class="team-person">
            <img src="{{ asset('sboza2/img/team.jpg') }}">
            <p>dafsdfdsaasdasdf</p>
            <p>Direccion</p>
        </div>
        <div class="team-person">
            <img src="{{ asset('sboza2/img/team.jpg') }}">
            <p>dafsdfdsaasdasdf</p>
            <p>Coordinacion</p>
        </div>
        <div class="team-person">
            <img src="{{ asset('sboza2/img/team.jpg') }}">
            <p>dafsdfdsaasdasdf</p>
            <p>Coordinacion</p>
        </div>
    </div>
    <div class="team-detail">
        <p class="title-team">Nuestros colaboradores</p>
        <div class="team-person">
            <img src="{{ asset('sboza2/img/team.jpg') }}">
            <p>dafsdfdsaasdasdf</p>
            <p>Direccion</p>
        </div>
        <div class="team-person">
            <img src="{{ asset('sboza2/img/team.jpg') }}">
            <p>dafsdfdsaasdasdf</p>
            <p>Coordinacion</p>
        </div>
        <div class="team-person">
            <img src="{{ asset('sboza2/img/team.jpg') }}">
            <p>dafsdfdsaasdasdf</p>
            <p>Coordinacion</p>
        </div>
    </div>
</div>